# Содержание #

<a id='project_description'></a>
# Описание проекта #
В вашем распоряжении данные сервиса Яндекс.Недвижимость — архив объявлений о продаже квартир в Санкт-Петербурге и соседних населённых пунктах за несколько лет. Нужно научиться определять рыночную стоимость объектов недвижимости. Ваша задача — установить параметры. Это позволит построить автоматизированную систему: она отследит аномалии и мошенническую деятельность.
По каждой квартире на продажу доступны два вида данных. Первые вписаны пользователем, вторые — получены автоматически на основе картографических данных. Например, расстояние до центра, аэропорта, ближайшего парка и водоёма.

<a id='project_instruction'></a>
# Инструкция по выполнению проекта #
Шаг 1. Откройте файл с данными и изучите общую информацию
Путь к файлу: /datasets/real_estate_data.csv.Скачать датасет
Шаг 2. Предобработка данных

    Определите и изучите пропущенные значения:
        Для некоторых пропущенных значений можно предположить логичную замену. Например, если человек не указал число балконов — скорее всего, их нет. Такие пропуски правильно заменить на 0. Для других типов данных нет подходящего значения на замену. В этом случае правильно оставить эти значения пустыми. Отсутствие значения — тоже важный сигнал, который не нужно прятать.
        Заполните пропуски, где это уместно. Опишите, почему вы решили заполнить пропуски именно в этих столбцах и как выбрали значения.
        Укажите причины, которые могли привести к пропускам в данных.
    Приведите данные к нужным типам:
        Поясните, в каких столбцах нужно изменить тип данных и почему.

Шаг 3. Посчитайте и добавьте в таблицу

    цену квадратного метра;
    день недели, месяц и год публикации объявления;
    этаж квартиры; варианты — первый, последний, другой;
    соотношение жилой и общей площади, а также отношение площади кухни к общей.

Шаг 4. Проведите исследовательский анализ данных и выполните инструкции

    Изучите следующие параметры: площадь, цена, число комнат, высота потолков. Постройте гистограммы для каждого параметра.
    Изучите время продажи квартиры. Постройте гистограмму. Посчитайте среднее и медиану. Опишите, сколько обычно занимает продажа. Когда можно считать, что продажи прошли очень быстро, а когда необычно долго?
    Уберите редкие и выбивающиеся значения. Опишите, какие особенности обнаружили.
    Какие факторы больше всего влияют на стоимость квартиры? Изучите, зависит ли цена от площади, числа комнат, удалённости от центра. Изучите зависимость цены от того, на каком этаже расположена квартира: первом, последнем или другом. Также изучите зависимость от даты размещения: дня недели, месяца и года.
    Выберите 10 населённых пунктов с наибольшим числом объявлений. Посчитайте среднюю цену квадратного метра в этих населённых пунктах. Выделите населённые пункты с самой высокой и низкой стоимостью жилья. Эти данные можно найти по имени в столбце locality_name.
    Изучите предложения квартир: для каждой квартиры есть информация о расстоянии до центра. Выделите квартиры в Санкт-Петербурге (locality_name). Ваша задача — выяснить, какая область входит в центр. Создайте столбец с расстоянием до центра в километрах: округлите до целых значений. После этого посчитайте среднюю цену для каждого километра. Постройте график: он должен показывать, как цена зависит от удалённости от центра. Определите границу, где график сильно меняется, — это и будет центральная зона.
    Выделите сегмент квартир в центре. Проанализируйте эту территорию и изучите следующие параметры: площадь, цена, число комнат, высота потолков. Также выделите факторы, которые влияют на стоимость квартиры (число комнат, этаж, удалённость от центра, дата размещения объявления). Сделайте выводы. Отличаются ли они от общих выводов по всему городу?

Шаг 5. Напишите общий вывод
Оформление: Выполните задание в Jupyter Notebook. Заполните программный код в ячейках типа code, текстовые пояснения — в ячейках типа markdown. Примените форматирование и заголовки.

<a id='project_data'></a>
# Описание данных #

    airports_nearest — расстояние до ближайшего аэропорта в метрах (м)
    balcony — число балконов
    ceiling_height — высота потолков (м)
    cityCenters_nearest — расстояние до центра города (м)
    days_exposition — сколько дней было размещено объявление (от публикации до снятия)
    first_day_exposition — дата публикации
    floor — этаж
    floors_total — всего этажей в доме
    is_apartment — апартаменты (булев тип)
    kitchen_area — площадь кухни в квадратных метрах (м²)
    last_price — цена на момент снятия с публикации
    living_area — жилая площадь в квадратных метрах (м²)
    locality_name — название населённого пункта
    open_plan — свободная планировка (булев тип)
    parks_around3000 — число парков в радиусе 3 км
    parks_nearest — расстояние до ближайшего парка (м)
    ponds_around3000 — число водоёмов в радиусе 3 км
    ponds_nearest — расстояние до ближайшего водоёма (м)
    rooms — число комнат
    studio — квартира-студия (булев тип)
    total_area — площадь квартиры в квадратных метрах (м²)
    total_images — число фотографий квартиры в объявлении

<a id='import'></a>
# Импорт библиотек #

In [1]:
from IPython.core.display import display
import pandas as pd
import matplotlib.pyplot as plt

<a id='data_load'></a>
# Изучение данных из файла #

In [2]:
data = pd.read_csv(filepath_or_buffer='datasets/real_estate_data.csv', delimiter='\t')
display(data)
data.info()
data.describe()

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,...,25.00,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,8.30,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,...,41.00,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23694,9,9700000.0,133.81,2017-03-21T00:00:00,3,3.70,5.0,73.3,3,NaN,...,13.83,NaN,Санкт-Петербург,24665.0,4232.0,1.0,796.0,3.0,381.0,NaN
23695,14,3100000.0,59.00,2018-01-15T00:00:00,3,NaN,5.0,38.0,4,NaN,...,8.50,NaN,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,45.0
23696,18,2500000.0,56.70,2018-02-11T00:00:00,2,NaN,3.0,29.7,1,NaN,...,NaN,NaN,село Рождествено,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23697,13,11475000.0,76.75,2017-03-28T00:00:00,2,3.00,17.0,NaN,12,NaN,...,23.30,2.0,Санкт-Петербург,39140.0,10364.0,2.0,173.0,3.0,196.0,602.0
23698,4,1350000.0,32.30,2017-07-21T00:00:00,1,2.50,5.0,12.3,1,NaN,...,9.00,NaN,поселок Новый Учхоз,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

,total_images,last_price,total_area,rooms,ceiling_height,floors_total,living_area,floor,kitchen_area,balcony,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
count,23699.000000,2.369900e+04,23699.000000,23699.000000,14504.000000,23613.000000,21796.000000,23699.000000,21421.000000,12180.000000,18157.000000,18180.000000,18181.000000,8079.000000,18181.000000,9110.000000,20518.000000
mean,9.858475,6.541549e+06,60.348651,2.070636,2.771499,10.673824,34.457852,5.892358,10.569807,1.150082,28793.672193,14191.277833,0.611408,490.804555,0.770255,517.980900,180.888634
std,5.682529,1.088701e+07,35.654083,1.078405,1.261056,6.597173,22.030445,4.885249,5.905438,1.071300,12630.880622,8608.386210,0.802074,342.317995,0.938346,277.720643,219.727988
min,0.000000,1.219000e+04,12.000000,0.000000,1.000000,1.000000,2.000000,1.000000,1.300000,0.000000,0.000000,181.000000,0.000000,1.000000,0.000000,13.000000,1.000000
25%,6.000000,3.400000e+06,40.000000,1.000000,2.520000,5.000000,18.600000,2.000000,7.000000,0.000000,18585.000000,9238.000000,0.000000,288.000000,0.000000,294.000000,45.000000
50%,9.000000,4.650000e+06,52.000000,2.000000,2.650000,9.000000,30.000000,4.000000,9.100000,1.000000,26726.000000,13098.500000,0.000000,455.000000,1.000000,502.000000,95.000000
75%,14.000000,6.800000e+06,69.900000,3.000000,2.800000,16.000000,42.300000,8.000000,12.000000,2.000000,37273.000000,16293.000000,1.000000,612.000000,1.000000,729.000000,232.000000
max,50.000000,7.630000e+08,900.000000,19.000000,100.000000,60.000000,409.700000,33.000000,112.000000,5.000000,84869.000000,65968.000000,3.000000,3190.000000,3.000000,1344.000000,1580.000000

# Результат первичного осмотра данных #
1. data['first_day_exposition'] привести к типу datetime
2. data['floors_total'] привести к типу int
3. data['is_apartment'] приветсти к типу bool
4. data['balcony'] привести к типу int
5. data['airport_nearest] привести к типу int
6. data['days_exposition'] привести к типу int
7. data['cityCenter_nearest]:
    - переименовать в 'city_center_nearest'
    - привести к типу int
8. data['parks_around3000']:
    - переименовать в 'parks_around_3000'
    - привести к типу int
9. data['park_nearest'] привести к типу int
10. data['ponds_around3000']
    - переименовать в 'ponds_around3000'
    - привести к типу int
11. data['ponds_nearest'] привести к типу int
12. Пропуски данных:
    - data['ceiling_height']
        * заменить пропуски на медианное значение, т.к. нет косвенных данных указывающих на верное значение
        * медиана слабо зависит от выбросов
    - data['floors_total']
        * заменить пропуски на data['floor'], т.к. нет косвенных данных указывающих на верное значение
    - data['living_area']
        * заменить пропуски на медианное значение, т.к. нет косвенных данных указывающих на верное значение
        * медиана слабо зависит от выбросов
    - data['is_apartment']
        * заменить пропуски на 0
        * если не указано, вероятно не является аппартаментами
    - data['kitchen_area']
        * заменить пропуски на медианное значение, т.к. нет косвенных данных указывающих на верное значение
        * медиана слабо зависит от выбросов
    - data['balcony']
        * заменить пропуски на 0
        * если количество не указано, вероятно балконов нет.
    - data['locality_name']
    - data['airports_nearest']
        * заменить на 0
        * картографические данные
        * если не указано значение => аэропорт рядом отсутствует
    - data['cityCenters_nearest']
        * заменить на 0
        * картографические данные
        * если не указано => недвижимость расположена за пределами Санкт-Петербурга
    - data['parks_around3000']
        * заменить на 0
        * картографические данные
        * если не указано => парки в радиусе 3 км отсутствуют
    - data['parks_nearest']
        * заменить на 0
        * картографические данные
        * если не указано => парки отсутствуют
    - data['ponds_around3000']
        * заменить на 0
        * картографические данные
        * если не указано => пруды в радиусе 3 км отсутствуют
    - data['ponds_nearest']
        * заменить на 0
        * картографические данные
        * если не указано => парки отсутствуют
    - data['days_exposition']
        * заменить на 0

<a id='data_prepare'></a>
# Предобработка данных #

<a id='data_column_rename'></a>
## Переименование столбцов ##

In [3]:
data = data.rename(columns={'cityCenters_nearest':'city_centers_nearest',
                            'parks_around3000':'parks_around_3000',
                            'ponds_around3000':'ponds_around_3000'})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  city_centers_nearest  18180 non-null  float64
 17  parks_around_3000     18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around_3000     18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

## Обработка пропусков ##

In [4]:
for column in data.columns:
    if column in ['ceiling_height', 'living_area', 'kitchen_area']:
        data[column] = data[column].fillna(value=data[column].median())
    elif column in ['is_apartment', 'balcony', 'airports_nearest', 'city_centers_nearest',
                    'parks_around_3000', 'ponds_around_3000',
                    'parks_nearest', 'ponds_nearest','days_exposition']:
        data[column] = data[column].fillna(value=0)
    elif column == 'floors_total':
        data[column] = data[column].where(~data[column].isna(), data['floor'])

In [5]:
data.isna().sum()

total_images             0
last_price               0
total_area               0
first_day_exposition     0
rooms                    0
ceiling_height           0
floors_total             0
living_area              0
floor                    0
is_apartment             0
studio                   0
open_plan                0
kitchen_area             0
balcony                  0
locality_name           49
airports_nearest         0
city_centers_nearest     0
parks_around_3000        0
parks_nearest            0
ponds_around_3000        0
ponds_nearest            0
days_exposition          0
dtype: int64

In [6]:
data.dropna(subset=['locality_name'], inplace=True)

In [7]:
print(data.isna().sum())
print(data.info())

total_images            0
last_price              0
total_area              0
first_day_exposition    0
rooms                   0
ceiling_height          0
floors_total            0
living_area             0
floor                   0
is_apartment            0
studio                  0
open_plan               0
kitchen_area            0
balcony                 0
locality_name           0
airports_nearest        0
city_centers_nearest    0
parks_around_3000       0
parks_nearest           0
ponds_around_3000       0
ponds_nearest           0
days_exposition         0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23650 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23650 non-null  int64
 1   last_price            23650 non-null  float64
 2   total_area            23650 non-null  float64
 3   first_day_exposition  23650 non-null  object
 4   rooms                 23650 non-null  int64
 5   ceiling_height        23650 non-null  float64
 6   floors_total          23650 non-null  float64
 7   living_area           23650 non-null  float64
 8   floor                 23650 non-null  int64
 9   is_apartment          23650 non-null  object
 10  studio                23650 non-null  bool
 11  open_plan             23650 non-null  bool
 12  kitchen_area          23650 non-null  float64
 13  balcony               23650 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      23650 non-null  float64
 16  city_centers_nearest  23650 non-null  float64
 17  parks_around_3000     23650 non-null  float64
 18  parks_nearest         23650 non-null  float64
 19  ponds_around_3000     23650 non-null  float64
 20  ponds_nearest         23650 non-null  float64
 21  days_exposition       23650 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.8+ MB
None

## Результаты обработки пропусков ##
1. явные пропуски обработаны
2. осмотр пропусков data['locality_name'] указывает на необходимость удаления строк содержащих пропуски. Данные позволяющие восстановить значения отсутствуют.

<a id='data_change_type'></a>
## Приведение типов ##

In [13]:
for column in data.columns:
    if column in ['floors_total', 'balcony', 'airport_nearest', 'days_exposition', 'city_centers_nearest',
                  'parks_around_3000', 'park_nearest', 'ponds_around_3000', 'ponds_nearest']:
        data[column] = data[column].astype('int')
    elif column in ['is_apartment']: data[column] = data[column].astype('bool')
    elif column in ['first_day_exposition']: data[column] = pd.to_datetime(data[column], format='%Y-%m-%dT%H:%M:%S')

total_images : int64
last_price : float64
total_area : float64
first_day_exposition : datetime64[ns]
rooms : int64
ceiling_height : float64
floors_total : int32
living_area : float64
floor : int64
is_apartment : bool
studio : bool
open_plan : bool
kitchen_area : float64
balcony : int32
locality_name : object
airports_nearest : float64
city_centers_nearest : int32
parks_around_3000 : int32
parks_nearest : float64
ponds_around_3000 : int32
ponds_nearest : int32
days_exposition : int32

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23650 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23650 non-null  int64
 1   last_price            23650 non-null  float64
 2   total_area            23650 non-null  float64
 3   first_day_exposition  23650 non-null  datetime64[ns]
 4   rooms                 23650 non-null  int64
 5   ceiling_height        23650 non-null  float64
 6   floors_total          23650 non-null  int32
 7   living_area           23650 non-null  float64
 8   floor                 23650 non-null  int64
 9   is_apartment          23650 non-null  bool
 10  studio                23650 non-null  bool
 11  open_plan             23650 non-null  bool
 12  kitchen_area          23650 non-null  float64
 13  balcony               23650 non-null  int32
 14  locality_name         23650 non-null  object
 15  airports_nearest      23650 non-null  float64
 16  city_centers_nearest  23650 non-null  int32
 17  parks_around_3000     23650 non-null  int32
 18  parks_nearest         23650 non-null  float64
 19  ponds_around_3000     23650 non-null  int32
 20  ponds_nearest         23650 non-null  int32
 21  days_exposition       23650 non-null  int32
dtypes: bool(3), datetime64[ns](1), float64(7), int32(7), int64(3), object(1)
memory usage: 3.0+ MB

<a id='data_string_prepare'></a>
## Предобработка строковых значений ##

In [10]:
data['locality_name'] = data['locality_name'].str.lower()
data['locality_name'] = data['locality_name'].str.strip()
data['locality_name']

0            санкт-петербург
1             посёлок шушары
2            санкт-петербург
3            санкт-петербург
4            санкт-петербург
                ...
23694        санкт-петербург
23695                  тосно
23696       село рождествено
23697        санкт-петербург
23698    поселок новый учхоз
Name: locality_name, Length: 23650, dtype: object

<a id='data_duplicates'></a>
## Обработка дубликатов ##

In [11]:
data.duplicated().sum()

0

# Результаты предобработки данных #
1. переименованы столбцы:
    * cityCenters_nearest => city_centers_nearest
    * parks_around3000 => parks_around_3000
    * ponds_around3000 => ponds_around_3000
2. заполнены пропущенные значения:
    * 'ceiling_height' = 'ceiling_height'.median()
    * 'living_area' = 'living_area'.median()
    * 'kitchen_area' = 'kitchen_area'.median()
    * 'is_apartment' = 0
    * 'balcony' = 0
    * 'airports_nearest' = 0
    * 'city_centers_nearest' = 0
    * 'parks_around_3000' = 0
    * 'ponds_around_3000' = 0
    * 'parks_nearest' = 0
    * 'ponds_nearest' = 0
    * 'days_exposition' = 0
    * 'floors_total' = 'floor'
    * строки с 'locality_name'.isna() удалены
3. изменены типы данных:
    * 'floors_total'
    * 'balcony'
    * 'airport_nearest'
    * 'days_exposition'
    * 'city_centers_nearest'
    * 'parks_around_3000'
    * 'park_nearest'
    * 'ponds_around_3000'
    * 'ponds_nearest'
    * 'is_apartment'
    * 'first_day_exposition'
4. предобработка строковых данных:
    * data['locality_name']
        - значения переведены в нижний регистр
        - удалены лишние символы
5. обработка дубликатов:
    * не обнаружены

<a id='calculations'>
# Расчёты и добавление результатов в таблицу #

<a id='calc_square_meter_price'></a>
## Расчет цены квадратного метра ##

In [16]:
data['square_meter_price'] = (data['last_price'] / data['total_area']).round(2)
data['square_meter_price']

0        120370.37
1         82920.79
2         92785.71
3        408176.10
4        100000.00
           ...
23694     72490.85
23695     52542.37
23696     44091.71
23697    149511.40
23698     41795.67
Name: square_meter_price, Length: 23650, dtype: float64

<a id='calc_date'></a>
## День недели, месяц и год публикации объявления ##

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23650 entries, 0 to 23698
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23650 non-null  int64
 1   last_price            23650 non-null  float64
 2   total_area            23650 non-null  float64
 3   first_day_exposition  23650 non-null  datetime64[ns]
 4   rooms                 23650 non-null  int64
 5   ceiling_height        23650 non-null  float64
 6   floors_total          23650 non-null  int32
 7   living_area           23650 non-null  float64
 8   floor                 23650 non-null  int64
 9   is_apartment          23650 non-null  bool
 10  studio                23650 non-null  bool
 11  open_plan             23650 non-null  bool
 12  kitchen_area          23650 non-null  float64
 13  balcony               23650 non-null  int32
 14  locality_name         23650 non-null  object
 15  airports_nearest      23650 non-null  float64
 16  city_centers_nearest  23650 non-null  int32
 17  parks_around_3000     23650 non-null  int32
 18  parks_nearest         23650 non-null  float64
 19  ponds_around_3000     23650 non-null  int32
 20  ponds_nearest         23650 non-null  int32
 21  days_exposition       23650 non-null  int32
 22  square_meter_price    23650 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(8), int32(7), int64(3), object(1)
memory usage: 3.2+ MB

In [33]:
data['weekday'] = data['first_day_exposition'].dt.day_name(locale='Russian')
data['month'] = data['first_day_exposition'].dt.month
data['year'] = data['first_day_exposition'].dt.year

<a id='calc_floor'></a>
## Классификация этажей квартиры ##

In [36]:
data[['floor', 'floors_total']]

       floor  floors_total
0          8            16
1          1            11
2          4             5
3          9            14
4         13            14
...      ...           ...
23694      3             5
23695      4             5
23696      1             3
23697     12            17
23698      1             5

[23650 rows x 2 columns]

## Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл
- [ ]  файлы изучены (выведены первые строки, метод info())
- [ ]  определены пропущенные значения
- [ ]  заполнены пропущенные значения
- [ ]  есть пояснение, какие пропущенные значения обнаружены
- [ ]  изменены типы данных
- [ ]  есть пояснение, в каких столбцах изменены типы и почему
- [ ]  посчитано и добавлено в таблицу: цена квадратного метра
- [ ]  посчитано и добавлено в таблицу: день недели, месяц и год публикации объявления
- [ ]  посчитано и добавлено в таблицу: этаж квартиры; варианты — первый, последний, другой
- [ ]  посчитано и добавлено в таблицу: соотношение жилой и общей площади, а также отношение площади кухни к общей
- [ ]  изучены следующие параметры: площадь, цена, число комнат, высота потолков
- [ ]  построены гистограммы для каждого параметра
- [ ]  выполнено задание: "Изучите время продажи квартиры. Постройте гистограмму. Посчитайте среднее и медиану. Опишите, сколько обычно занимает продажа. Когда можно считать, что продажи прошли очень быстро, а когда необычно долго?"
- [ ]  выполнено задание: "Уберите редкие и выбивающиеся значения. Опишите, какие особенности обнаружили."
- [ ]  выполнено задание: "Какие факторы больше всего влияют на стоимость квартиры? Изучите, зависит ли цена от квадратного метра, числа комнат, этажа (первого или последнего), удалённости от центра. Также изучите зависимость от даты размещения: дня недели, месяца и года. "Выберите 10 населённых пунктов с наибольшим числом объявлений. Посчитайте среднюю цену квадратного метра в этих населённых пунктах. Выделите населённые пункты с самой высокой и низкой стоимостью жилья. Эти данные можно найти по имени в столбце '*locality_name'*. "
- [ ]  выполнено задание: "Изучите предложения квартир: для каждой квартиры есть информация о расстоянии до центра. Выделите квартиры в Санкт-Петербурге (*'locality_name'*). Ваша задача — выяснить, какая область входит в центр. Создайте столбец с расстоянием до центра в километрах: округлите до целых значений. После этого посчитайте среднюю цену для каждого километра. Постройте график: он должен показывать, как цена зависит от удалённости от центра. Определите границу, где график сильно меняется — это и будет центральная зона. "
- [ ]  выполнено задание: "Выделите сегмент квартир в центре. Проанализируйте эту территорию и изучите следующие параметры: площадь, цена, число комнат, высота потолков. Также выделите факторы, которые влияют на стоимость квартиры (число комнат, этаж, удалённость от центра, дата размещения объявления). Сделайте выводы. Отличаются ли они от общих выводов по всему городу?"
- [ ]  в каждом этапе есть выводы
- [ ]  есть общий вывод