# Содержание #

<a id='project_description'></a>
# Описание проекта #
Вы аналитик компании «Мегалайн» — федерального оператора сотовой связи. Клиентам предлагают два тарифных плана: «Смарт» и «Ультра». Чтобы скорректировать рекламный бюджет, коммерческий департамент хочет понять, какой тариф приносит больше денег.
Вам предстоит сделать предварительный анализ тарифов на небольшой выборке клиентов. В вашем распоряжении данные 500 пользователей «Мегалайна»: кто они, откуда, каким тарифом пользуются, сколько звонков и сообщений каждый отправил за 2018 год. Нужно проанализировать поведение клиентов и сделать вывод — какой тариф лучше.

<a id='tariffs_description'></a>
# Описание тарифов #
Тариф «Смарт»
Ежемесячная плата: 550 рублей
Включено 500 минут разговора, 50 сообщений и 15 Гб интернет-трафика
Стоимость услуг сверх тарифного пакета: 1. минута разговора: 3 рубля («Мегалайн» всегда округляет вверх значения минут и мегабайтов. Если пользователь проговорил всего 1 секунду, в тарифе засчитывается целая минута); 2. сообщение: 3 рубля; 3. 1 Гб интернет-трафика: 200 рублей.
Тариф «Ультра»
Ежемесячная плата: 1950 рублей
Включено 3000 минут разговора, 1000 сообщений и 30 Гб интернет-трафика
Стоимость услуг сверх тарифного пакета: 1. минута разговора: 1 рубль; 2. сообщение: 1 рубль; 3. 1 Гб интернет-трафика: 150 рублей.
Примечание:
«Мегалайн» всегда округляет секунды до минут, а мегабайты — до гигабайт. Каждый звонок округляется отдельно: даже если он длился всего 1 секунду, будет засчитан как 1 минута.
Для веб-трафика отдельные сессии не считаются. Вместо этого общая сумма за месяц округляется в бо́льшую сторону. Если абонент использует 1025 мегабайт в этом месяце, с него возьмут плату за 2 гигабайта.

<a id='project_instruction'></a>
# Инструкция по выполнению проекта #
Шаг 1. Откройте файл с данными и изучите общую информацию
Шаг 2. Подготовьте данные
Приведите данные к нужным типам;
Найдите и исправьте ошибки в данных, если они есть.
Поясните, какие ошибки вы нашли и как их исправили. В данных вы найдёте звонки с нулевой продолжительностью. Это не ошибка: нулями обозначены пропущенные звонки, поэтому их не нужно удалять.
Посчитайте для каждого пользователя:
количество сделанных звонков и израсходованных минут разговора по месяцам;
количество отправленных сообщений по месяцам;
объем израсходованного интернет-трафика по месяцам;
помесячную выручку с каждого пользователя (вычтите бесплатный лимит из суммарного количества звонков, сообщений и интернет-трафика; остаток умножьте на значение из тарифного плана; прибавьте абонентскую плату, соответствующую тарифному плану).
Шаг 3. Проанализируйте данные
Опишите поведение клиентов оператора, исходя из выборки. Сколько минут разговора, сколько сообщений и какой объём интернет-трафика требуется пользователям каждого тарифа в месяц? Посчитайте среднее количество, дисперсию и стандартное отклонение. Постройте гистограммы. Опишите распределения.
Шаг 4. Проверьте гипотезы
средняя выручка пользователей тарифов «Ультра» и «Смарт» различаются;
средняя выручка пользователей из Москвы отличается от выручки пользователей из других регионов.
Пороговое значение alpha задайте самостоятельно.
Поясните:
как вы формулировали нулевую и альтернативную гипотезы;
какой критерий использовали для проверки гипотез и почему.
Шаг 5. Напишите общий вывод
Оформление: Задание выполните в Jupyter Notebook. Программный код заполните в ячейках типа code, текстовые пояснения — в ячейках типа markdown. Примените форматирование и заголовки.

<a id='project_data'></a>
# Описание данных #
Таблица users (информация о пользователях):
user_id — уникальный идентификатор пользователя
first_name — имя пользователя
last_name — фамилия пользователя
age — возраст пользователя (годы)
reg_date — дата подключения тарифа (день, месяц, год)
churn_date — дата прекращения пользования тарифом (если значение пропущено, то тариф ещё действовал на момент выгрузки данных)
city — город проживания пользователя
tarif — название тарифного плана
Таблица calls (информация о звонках):
id — уникальный номер звонка
call_date — дата звонка
duration — длительность звонка в минутах
user_id — идентификатор пользователя, сделавшего звонок
Таблица messages (информация о сообщениях):
id — уникальный номер сообщения
message_date — дата сообщения
user_id — идентификатор пользователя, отправившего сообщение
Таблица internet (информация об интернет-сессиях):
id — уникальный номер сессии
mb_used — объём потраченного за сессию интернет-трафика (в мегабайтах)
session_date — дата интернет-сессии
user_id — идентификатор пользователя
Таблица tariffs (информация о тарифах):
tariff_name — название тарифа
rub_monthly_fee — ежемесячная абонентская плата в рублях
minutes_included — количество минут разговора в месяц, включённых в абонентскую плату
messages_included — количество сообщений в месяц, включённых в абонентскую плату
mb_per_month_included — объём интернет-трафика, включённого в абонентскую плату (в мегабайтах)
rub_per_minute — стоимость минуты разговора сверх тарифного пакета (например, если в тарифе 100 минут разговора в месяц, то со 101 минуты будет взиматься плата)
rub_per_message — стоимость отправки сообщения сверх тарифного пакета
rub_per_gb — стоимость дополнительного гигабайта интернет-трафика сверх тарифного пакета (1 гигабайт = 1024 мегабайта)

<a id='import_libs'></a>
# Импорт библиотек #

In [1]:
import pandas as pd
from IPython.core.display import display
from scipy import stats as st
import math as mt
import warnings
warnings.filterwarnings('ignore')

<a id='data'></a>
# Данные #

<a id='data_load'></a>
## Загрузка данных ##

In [2]:
calls = pd.read_csv(filepath_or_buffer='datasets/calls.csv')
internet = pd.read_csv(filepath_or_buffer='datasets/internet.csv')
messages = pd.read_csv(filepath_or_buffer='datasets/messages.csv')
tariffs = pd.read_csv(filepath_or_buffer='datasets/tariffs.csv')
users = pd.read_csv(filepath_or_buffer='datasets/users.csv')

<a id='data_view'></a>
## Первичный осмотр данных ##

In [3]:
display(calls)
calls.info()

              id   call_date  duration  user_id
0         1000_0  2018-07-25      0.00     1000
1         1000_1  2018-08-17      0.00     1000
2         1000_2  2018-06-11      2.85     1000
3         1000_3  2018-09-21     13.80     1000
4         1000_4  2018-12-15      5.18     1000
...          ...         ...       ...      ...
202602  1499_215  2018-12-26      0.76     1499
202603  1499_216  2018-10-18     18.83     1499
202604  1499_217  2018-11-10     10.81     1499
202605  1499_218  2018-10-06      4.27     1499
202606  1499_219  2018-12-14     19.62     1499

[202607 rows x 4 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202607 entries, 0 to 202606
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         202607 non-null  object
 1   call_date  202607 non-null  object
 2   duration   202607 non-null  float64
 3   user_id    202607 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.2+ MB

In [4]:
display(internet)
internet.info()

        Unnamed: 0        id  mb_used session_date  user_id
0                0    1000_0   112.95   2018-11-25     1000
1                1    1000_1  1052.81   2018-09-07     1000
2                2    1000_2  1197.26   2018-06-25     1000
3                3    1000_3   550.27   2018-08-22     1000
4                4    1000_4   302.56   2018-09-24     1000
...            ...       ...      ...          ...      ...
149391      149391  1499_152   318.90   2018-10-03     1499
149392      149392  1499_153   490.13   2018-12-14     1499
149393      149393  1499_154     0.00   2018-10-27     1499
149394      149394  1499_155  1246.32   2018-11-26     1499
149395      149395  1499_156   544.37   2018-10-26     1499

[149396 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149396 entries, 0 to 149395
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    149396 non-null  int64
 1   id            149396 non-null  object
 2   mb_used       149396 non-null  float64
 3   session_date  149396 non-null  object
 4   user_id       149396 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 5.7+ MB

In [5]:
display(messages)
messages.info()

              id message_date  user_id
0         1000_0   2018-06-27     1000
1         1000_1   2018-10-08     1000
2         1000_2   2018-08-04     1000
3         1000_3   2018-06-16     1000
4         1000_4   2018-12-05     1000
...          ...          ...      ...
123031  1499_179   2018-12-12     1499
123032  1499_180   2018-09-28     1499
123033  1499_181   2018-09-27     1499
123034  1499_182   2018-11-15     1499
123035  1499_183   2018-11-16     1499

[123036 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123036 entries, 0 to 123035
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            123036 non-null  object
 1   message_date  123036 non-null  object
 2   user_id       123036 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.8+ MB

In [6]:
display(tariffs)
tariffs.info()

,messages_included,mb_per_month_included,minutes_included,rub_monthly_fee,rub_per_gb,rub_per_message,rub_per_minute,tariff_name
0,50,15360,500,550,200,3,3,smart
1,1000,30720,3000,1950,150,1,1,ultra

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   messages_included      2 non-null      int64
 1   mb_per_month_included  2 non-null      int64
 2   minutes_included       2 non-null      int64
 3   rub_monthly_fee        2 non-null      int64
 4   rub_per_gb             2 non-null      int64
 5   rub_per_message        2 non-null      int64
 6   rub_per_minute         2 non-null      int64
 7   tariff_name            2 non-null      object
dtypes: int64(7), object(1)
memory usage: 256.0+ bytes

In [7]:
display(users)
users.info()

,user_id,age,churn_date,city,first_name,last_name,reg_date,tariff
0,1000,52,NaN,Краснодар,Рафаил,Верещагин,2018-05-25,ultra
1,1001,41,NaN,Москва,Иван,Ежов,2018-11-01,smart
2,1002,59,NaN,Стерлитамак,Евгений,Абрамович,2018-06-17,smart
3,1003,23,NaN,Москва,Белла,Белякова,2018-08-17,ultra
4,1004,68,NaN,Новокузнецк,Татьяна,Авдеенко,2018-05-14,ultra
...,...,...,...,...,...,...,...,...
495,1495,65,NaN,Иркутск,Авксентий,Фокин,2018-08-28,ultra
496,1496,36,NaN,Вологда,Трифон,Блохин,2018-01-27,smart
497,1497,32,NaN,Челябинск,Каролина,Агеева,2018-10-09,smart
498,1498,68,2018-10-25,Владикавказ,Всеволод,Акимчин,2018-07-19,smart
499,1499,35,NaN,Пермь,Гектор,Корнилов,2018-09-27,smart

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     500 non-null    int64
 1   age         500 non-null    int64
 2   churn_date  38 non-null     object
 3   city        500 non-null    object
 4   first_name  500 non-null    object
 5   last_name   500 non-null    object
 6   reg_date    500 non-null    object
 7   tariff      500 non-null    object
dtypes: int64(2), object(6)
memory usage: 31.4+ KB

## Результаты первичного осмотра ##
1. calls:
    - id:
        * значение обрезать '_', идентификатор абонента указан в другом столбце
        * привести к типу int
    - call_date:
        * привести к типу date
    - duration:
        * округлить до большего целого
        * привести к типу int
2. internet:
    - 'unnamed:0' - удалить
    - id:
        * значение обрезать '_', идентификатор абонента указан в другом столбце
        * привести к типу int
    - session_date:
        * привести к типу date
3. messages:
    - id:
        * значение обрезать '_', идентификатор абонента указан в другом столбце
        * привести к типу int
    - message_date:
        * привести к типу date
4. users:
    - churn_date
        * привести к типу date
        * пропуски оставить
    - city:
        * удалить лишние символы
        * преобразовать в нижний регистр
    - first_name:
        * удалить лишние символы
        * преобразовать в нижний регистр
    - last_name:
        * удалить лишние символы
        * преобразовать в нижний регистр
    - reg_date:
        * привести к типу date
5. собрать данные абонентов и условий тарифного плана в одну таблицу

<a id='prepare'></a>
# Предобработка данных #

<a id='prepare_calls'></a>
## Предобработка данных calls ##

In [8]:
calls['id'] = calls['id'].str.split('_', expand=True)[1].astype('int')
calls['call_date'] = pd.to_datetime(calls['call_date'], format='%Y-%m-%d')
calls['duration'] = calls['duration'].apply(mt.ceil).astype('int')
calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202607 entries, 0 to 202606
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         202607 non-null  int32
 1   call_date  202607 non-null  datetime64[ns]
 2   duration   202607 non-null  int32
 3   user_id    202607 non-null  int64
dtypes: datetime64[ns](1), int32(2), int64(1)
memory usage: 4.6 MB

In [9]:
calls.duplicated().sum()

0

<a id='prepare_internet'></a>
## Предобработка данных internet ##

In [10]:
internet = internet.drop(columns=['Unnamed: 0'])
internet['id'] = internet['id'].str.split('_', expand=True)[1].astype('int')
internet['session_date'] = pd.to_datetime(internet['session_date'], format='%Y-%m-%d')
internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149396 entries, 0 to 149395
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            149396 non-null  int32
 1   mb_used       149396 non-null  float64
 2   session_date  149396 non-null  datetime64[ns]
 3   user_id       149396 non-null  int64
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1)
memory usage: 4.0 MB

In [11]:
internet.duplicated().sum()

0

<a id='prepare_messages'></a>
## Предобработка данных messages ##

In [12]:
messages['id'] = messages['id'].str.split('_', expand=True)[1].astype('int')
messages['message_date'] = pd.to_datetime(messages['message_date'], format='%Y-%m-%d')
messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123036 entries, 0 to 123035
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            123036 non-null  int32
 1   message_date  123036 non-null  datetime64[ns]
 2   user_id       123036 non-null  int64
dtypes: datetime64[ns](1), int32(1), int64(1)
memory usage: 2.3 MB

In [13]:
messages.duplicated().sum()

0

<a id='prepare_users'></a>
## Предобработка данных users ##

In [14]:
users = users.rename(columns={'tariff':'tariff_name'})
users['churn_date'] = pd.to_datetime(users['churn_date'], format='%Y-%m-%d', errors='coerce')
users['reg_date'] = pd.to_datetime(users['reg_date'], format='%Y-%m-%d')

for column in ['city', 'first_name', 'last_name']:
    users[column] = users[column].str.strip()
    users[column] = users[column].str.lower()

users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      500 non-null    int64
 1   age          500 non-null    int64
 2   churn_date   38 non-null     datetime64[ns]
 3   city         500 non-null    object
 4   first_name   500 non-null    object
 5   last_name    500 non-null    object
 6   reg_date     500 non-null    datetime64[ns]
 7   tariff_name  500 non-null    object
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 31.4+ KB

In [15]:
users_data = users.merge(tariffs, on='tariff_name')
users_data

,user_id,age,churn_date,city,first_name,last_name,reg_date,tariff_name,messages_included,mb_per_month_included,minutes_included,rub_monthly_fee,rub_per_gb,rub_per_message,rub_per_minute
0,1000,52,NaT,краснодар,рафаил,верещагин,2018-05-25,ultra,1000,30720,3000,1950,150,1,1
1,1003,23,NaT,москва,белла,белякова,2018-08-17,ultra,1000,30720,3000,1950,150,1,1
2,1004,68,NaT,новокузнецк,татьяна,авдеенко,2018-05-14,ultra,1000,30720,3000,1950,150,1,1
3,1013,36,NaT,иваново,борис,андреенко,2018-11-14,ultra,1000,30720,3000,1950,150,1,1
4,1016,58,NaT,омск,марица,сазонова,2018-11-21,ultra,1000,30720,3000,1950,150,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1494,62,NaT,омск,ренат,андропов,2018-08-17,smart,50,15360,500,550,200,3,3
496,1496,36,NaT,вологда,трифон,блохин,2018-01-27,smart,50,15360,500,550,200,3,3
497,1497,32,NaT,челябинск,каролина,агеева,2018-10-09,smart,50,15360,500,550,200,3,3
498,1498,68,2018-10-25,владикавказ,всеволод,акимчин,2018-07-19,smart,50,15360,500,550,200,3,3
499,1499,35,NaT,пермь,гектор,корнилов,2018-09-27,smart,50,15360,500,550,200,3,3

In [16]:
users.duplicated().sum()

0

In [17]:
users_data.duplicated().sum()

0

# Результаты предобработки данных #
1. calls:
    - ['id']:
        * лишние значения удалены
        * приведен к типу 'int'
    - ['call_date']:
        * приведен к типу 'datetime'
    - ['duration']:
        * округлен до большего целого
        * приведен к типу 'int'
    - дубликаты отсутствуют
2. internet:
    - ['Unnamed: 0']:
        * удален
    - ['id']:
        * лишние данные удалены
        * приведен к типу 'int'
    - ['session_date']:
        * приведен к типу 'datetime'
    - дубликаты отсутствуют
3. messages:
    - ['id']:
        * лишние значения удалены
        * приведен к типу 'int'
    - ['message_date']:
        * приведен к типу 'datetime'
    - дубликаты отсутствуют
4. users:
    - ['churn_date']:
        * приведен к типу 'datetime'
    - ['reg_date']:
        * приведен к типу 'datetime'
    - ['city', 'first_name', 'last_name']:
        * лишние символы удалены
        * преобразованы в нижний регистр
    - ['tariff']:
        * переименован в ['tariff_name']
    - дубликаты отсутствуют
5. создана таблица users_data содержащая данные об абонентах и условиях тарифного плана:
    - дубликаты отсутствуют

<a id='calculations'></a>
# Расчет #

Шаг 2.
Посчитайте для каждого пользователя:
количество сделанных звонков и израсходованных минут разговора по месяцам;
количество отправленных сообщений по месяцам;
объем израсходованного интернет-трафика по месяцам;
помесячную выручку с каждого пользователя (вычтите бесплатный лимит из суммарного количества звонков, сообщений и интернет-трафика; остаток умножьте на значение из тарифного плана; прибавьте абонентскую плату, соответствующую тарифному плану).

<a id='calc_calls_minutes_bills'></a>
## Расчет количества звонков, израсходованных минут, звонковой выручки ##

In [18]:
calls['month'] = calls['call_date'].dt.month
calls_pivot = pd.pivot_table(data=calls,
                             index=['user_id','month'],
                             values='duration',
                             aggfunc=['sum', 'count'])
calls_pivot.columns = ['calls_durations','calls_count']
calls_pivot.reset_index(inplace=True)
calls_pivot

      user_id  month  calls_durations  calls_count
0        1000      5              159           22
1        1000      6              172           43
2        1000      7              340           47
3        1000      8              408           52
4        1000      9              466           58
...       ...    ...              ...          ...
3169     1498     10              247           41
3170     1499      9               70            9
3171     1499     10              449           68
3172     1499     11              612           74
3173     1499     12              492           69

[3174 rows x 4 columns]

In [19]:
calls_pivot.shape

(3174, 4)

In [20]:
revenue_data = users_data.merge(calls_pivot, on='user_id', how='left')

In [21]:
def calls_revenue(rec):
    if rec['calls_durations'] > rec['minutes_included']:
        return (rec['calls_durations'] - rec['minutes_included']) * rec['rub_per_minute']
    else: return 0

In [22]:
revenue_data['calls_revenue'] = revenue_data.apply(calls_revenue, axis=1)

In [23]:
revenue_data

,user_id,age,churn_date,city,first_name,last_name,reg_date,tariff_name,messages_included,mb_per_month_included,minutes_included,rub_monthly_fee,rub_per_gb,rub_per_message,rub_per_minute,month,calls_durations,calls_count,calls_revenue
0,1000,52,NaT,краснодар,рафаил,верещагин,2018-05-25,ultra,1000,30720,3000,1950,150,1,1,5.0,159.0,22.0,0.0
1,1000,52,NaT,краснодар,рафаил,верещагин,2018-05-25,ultra,1000,30720,3000,1950,150,1,1,6.0,172.0,43.0,0.0
2,1000,52,NaT,краснодар,рафаил,верещагин,2018-05-25,ultra,1000,30720,3000,1950,150,1,1,7.0,340.0,47.0,0.0
3,1000,52,NaT,краснодар,рафаил,верещагин,2018-05-25,ultra,1000,30720,3000,1950,150,1,1,8.0,408.0,52.0,0.0
4,1000,52,NaT,краснодар,рафаил,верещагин,2018-05-25,ultra,1000,30720,3000,1950,150,1,1,9.0,466.0,58.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3177,1498,68,2018-10-25,владикавказ,всеволод,акимчин,2018-07-19,smart,50,15360,500,550,200,3,3,10.0,247.0,41.0,0.0
3178,1499,35,NaT,пермь,гектор,корнилов,2018-09-27,smart,50,15360,500,550,200,3,3,9.0,70.0,9.0,0.0
3179,1499,35,NaT,пермь,гектор,корнилов,2018-09-27,smart,50,15360,500,550,200,3,3,10.0,449.0,68.0,0.0
3180,1499,35,NaT,пермь,гектор,корнилов,2018-09-27,smart,50,15360,500,550,200,3,3,11.0,612.0,74.0,336.0
3181,1499,35,NaT,пермь,гектор,корнилов,2018-09-27,smart,50,15360,500,550,200,3,3,12.0,492.0,69.0,0.0

<a id='calc_messages_bills'></a>
## Расчет количества отправленных сообщений, выручки от сообщений ##

In [24]:
messages['month'] = messages['message_date'].dt.month
messages_pivot = pd.pivot_table(data=messages,
                                index=['user_id', 'month'],
                                values='message_date',
                                aggfunc='count')
messages_pivot.columns = ['messages_count']
messages_pivot.reset_index(inplace=True)
messages_pivot

      user_id  month  messages_count
0        1000      5              22
1        1000      6              60
2        1000      7              75
3        1000      8              81
4        1000      9              57
...       ...    ...             ...
2712     1498     10              42
2713     1499      9              11
2714     1499     10              48
2715     1499     11              59
2716     1499     12              66

[2717 rows x 3 columns]

In [25]:
messages_pivot.shape

(2717, 3)

In [26]:
revenue_data = revenue_data.merge(messages_pivot, on=['user_id','month'], how='left')
revenue_data.shape

(3182, 20)

In [27]:
def messages_revenue(rec):
    if rec['messages_count'] > rec['messages_included']:
        return (rec['messages_count'] - rec['messages_included']) * rec['rub_per_message']
    else: return 0

In [28]:
revenue_data['messages_revenue'] = revenue_data.apply(messages_revenue, axis=1)
revenue_data

,user_id,age,churn_date,city,first_name,last_name,reg_date,tariff_name,messages_included,mb_per_month_included,...,rub_monthly_fee,rub_per_gb,rub_per_message,rub_per_minute,month,calls_durations,calls_count,calls_revenue,messages_count,messages_revenue
0,1000,52,NaT,краснодар,рафаил,верещагин,2018-05-25,ultra,1000,30720,...,1950,150,1,1,5.0,159.0,22.0,0.0,22.0,0.0
1,1000,52,NaT,краснодар,рафаил,верещагин,2018-05-25,ultra,1000,30720,...,1950,150,1,1,6.0,172.0,43.0,0.0,60.0,0.0
2,1000,52,NaT,краснодар,рафаил,верещагин,2018-05-25,ultra,1000,30720,...,1950,150,1,1,7.0,340.0,47.0,0.0,75.0,0.0
3,1000,52,NaT,краснодар,рафаил,верещагин,2018-05-25,ultra,1000,30720,...,1950,150,1,1,8.0,408.0,52.0,0.0,81.0,0.0
4,1000,52,NaT,краснодар,рафаил,верещагин,2018-05-25,ultra,1000,30720,...,1950,150,1,1,9.0,466.0,58.0,0.0,57.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3177,1498,68,2018-10-25,владикавказ,всеволод,акимчин,2018-07-19,smart,50,15360,...,550,200,3,3,10.0,247.0,41.0,0.0,42.0,0.0
3178,1499,35,NaT,пермь,гектор,корнилов,2018-09-27,smart,50,15360,...,550,200,3,3,9.0,70.0,9.0,0.0,11.0,0.0
3179,1499,35,NaT,пермь,гектор,корнилов,2018-09-27,smart,50,15360,...,550,200,3,3,10.0,449.0,68.0,0.0,48.0,0.0
3180,1499,35,NaT,пермь,гектор,корнилов,2018-09-27,smart,50,15360,...,550,200,3,3,11.0,612.0,74.0,336.0,59.0,27.0
3181,1499,35,NaT,пермь,гектор,корнилов,2018-09-27,smart,50,15360,...,550,200,3,3,12.0,492.0,69.0,0.0,66.0,48.0

<a id='calc_internet_bills'></a>
## Расчет количества потребленного трафика, выручка от интренет-трафика ##

In [29]:
internet['month'] = internet['session_date'].dt.month
internet_pivot = pd.pivot_table(data=internet,
                                index=['user_id', 'month'],
                                values='mb_used',
                                aggfunc='sum')
internet_pivot.columns = ['gb_used']
internet_pivot['gb_used'] = internet_pivot['gb_used'] / 1024
internet_pivot['gb_used'] = internet_pivot['gb_used'].apply(mt.ceil)
internet_pivot.reset_index(inplace=True)
internet_pivot

      user_id  month  gb_used
0        1000      5        3
1        1000      6       23
2        1000      7       14
3        1000      8       14
4        1000      9       15
...       ...    ...      ...
3198     1498     10       21
3199     1499      9        2
3200     1499     10       18
3201     1499     11       18
3202     1499     12       13

[3203 rows x 3 columns]

In [30]:
internet_pivot.shape

(3203, 3)

In [31]:
revenue_data = revenue_data.merge(internet_pivot, on=['user_id', 'month'], how='left')
revenue_data.shape

(3182, 22)

In [32]:
def interet_revenue(rec):
    if rec['gb_used'] > rec['mb_per_month_included'] / 1024:
        return (rec['gb_used'] - rec['mb_per_month_included'] / 1024) * rec['rub_per_gb']
    else: return 0

<a id='calc_total_revenue'></a>
## Расчет выручки ##

In [33]:
revenue_data['internet_revenue'] = revenue_data.apply(interet_revenue, axis=1)

In [35]:
revenue_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3182 entries, 0 to 3181
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                3182 non-null   int64
 1   age                    3182 non-null   int64
 2   churn_date             189 non-null    datetime64[ns]
 3   city                   3182 non-null   object
 4   first_name             3182 non-null   object
 5   last_name              3182 non-null   object
 6   reg_date               3182 non-null   datetime64[ns]
 7   tariff_name            3182 non-null   object
 8   messages_included      3182 non-null   int64
 9   mb_per_month_included  3182 non-null   int64
 10  minutes_included       3182 non-null   int64
 11  rub_monthly_fee        3182 non-null   int64
 12  rub_per_gb             3182 non-null   int64
 13  rub_per_message        3182 non-null   int64
 14  rub_per_minute         3182 non-null   int64
 15  month                  3174 non-null   float64
 16  calls_durations        3174 non-null   float64
 17  calls_count            3174 non-null   float64
 18  calls_revenue          3182 non-null   float64
 19  messages_count         2678 non-null   float64
 20  messages_revenue       3182 non-null   float64
 21  gb_used                3163 non-null   float64
 22  internet_revenue       3182 non-null   float64
dtypes: datetime64[ns](2), float64(8), int64(9), object(4)
memory usage: 596.6+ KB

In [39]:
revenue_data['total_revenue'] = revenue_data['internet_revenue'] + revenue_data['calls_revenue'] + revenue_data['messages_revenue'] + revenue_data['rub_monthly_fee']

In [45]:
revenue_data[['total_revenue', 'internet_revenue', 'calls_revenue', 'messages_revenue', 'rub_monthly_fee']].sample(5)

,total_revenue,internet_revenue,calls_revenue,messages_revenue,rub_monthly_fee
3145,1350.0,800.0,0.0,0.0,550
2354,2261.0,1000.0,711.0,0.0,550
1911,550.0,0.0,0.0,0.0,550
3150,2332.0,1200.0,582.0,0.0,550
540,1950.0,0.0,0.0,0.0,1950

# Итоги проведения расчетов #
1. звонки
    - расчет количества звонков сохранен в revenue_data['calls_count']
    - длительность совершенных звонков сохранена в revenue_data['calls_durations']
    - звонковая выручка сохранена в revenue_data['calls_revenue']
2. соощения:
    - расчет количества сообщений сохранен в revenue_data['messages_count']
    - выручка от сообщений сохранена в revenue_data['messages_revenue']
3. интернет:
    - расчет потребленного объема трафика сохранен в revenue_data['gb_used']
    - выручка от интернет-трафика сохранена в revenue_data['internet_revenue']
4. итоговая выручка сохранена в revenue_data['total_revenue']