# 7.
Вам прислали таблицу со статистикой первичных и повторных покупок по источникам трафика. Прочитайте содержимое файла returned.csv и сохраните его в датафрейме purchases. Посчитайте общее число покупок для каждого источника трафика. Результат запишите в столбец 'total'. Выведите весь датафрейм на экран.
Путь к файлу: /datasets/returned.csv

Подсказка:
Столбцы складывают, как числа:

purchases['total'] = purchases['column 1'] + purchases['column 2']

In [23]:
import pandas as pd
from tqdm import tqdm, tqdm_notebook
#tqdm_notebook().pandas()

purchases = pd.read_csv(filepath_or_buffer='../datasets/returned.csv')

purchases['total'] = purchases['first'] + purchases['repeated']
purchases

    source  first  repeated  total
0  context   2933        96   3029
1    email    885       136   1021
2      smm   1653       139   1792