In [4]:
import pandas as pd

metrica = pd.read_csv('../datasets/metrica_data.csv')
age_avg = metrica['age'].mean()
metrica['age'] = metrica['age'].fillna(age_avg)
metrica.head(10)

      user_id device_type        age    time
0  7141786820     desktop  33.000000  2127.0
1  5644686960      mobile  30.000000    35.0
2  1914055396     desktop  25.000000     NaN
3  4099355752     desktop  25.000000  2123.0
4  6032477554     desktop  27.000000    59.0
5  5872473344      mobile  27.000000     NaN
6  7977025176      mobile  32.489663     NaN
7  3512872755     desktop  40.000000    65.0
8  1827368713     desktop  37.000000     NaN
9  8688870165     desktop  36.000000  2124.0