# 4.
Методом to_numeric() превратите значения столбца amount в числа, заменив некорректные значения на NaN. Проверьте результаты преобразований методом info().

Подсказка
Передайте методу to_numeric() аргументы transactions['amount'] и errors='coerce'.

In [2]:
import pandas as pd

transactions = pd.read_excel('../datasets/ids.xlsx')
transactions['id'] = pd.to_numeric(transactions['id'], errors='coerce')
transactions['amount'] = pd.to_numeric(transactions['amount'], errors='coerce')
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        48 non-null     float64
 1   category  49 non-null     object
 2   amount    45 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB