# 2.
Попробуйте ещё раз перевести значения столбца 'id' из строк в числа методом to_numeric(), но уже со значением 'coerce' параметра errors. Это заменит вызывающий ошибку Null на NaN.
Полученную таблицу выведите на экран методом tail(): так как ошибка возникает на последней строке, 5 значений с конца будет достаточно.

Подсказка
Передайте методу to_numeric() аргументы transactions['id'] и errors='coerce'.

In [1]:
import pandas as pd
transactions = pd.read_excel('../datasets/ids.xlsx')
transactions['id'] = pd.to_numeric(transactions['id'], errors='coerce')
print(transactions.tail())

              id category    amount
44  6.007483e+11        A   8958.23
45  6.007483e+11        C   12771.1
46  6.007483e+11        E   9630.56
47  6.007483e+11     Null      Null
48           NaN        A  14327.22